[Unit]
Description=Atomic compose for {{ item.name }}

[Service]
WorkingDirectory={{ datadir }}/{{ item.name }}
ExecStart=/usr/bin/rpm-ostree-toolbox taskrunner {{ inboxdir }}

[Install]
WantedBy=multi-user.target
